<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About us</title>
    <style>
            hr { 
              margin-top: 0.5em;
              margin-bottom: 0.5em;
              margin-left: 100px;
              margin-right: 100px;
              border-style:outset ;
              border-width: 1px;
            } 
            h1{
                color:dimgray;
                font-size: 40px;
                margin-left: 110px;
            }
            p1{
                font-size: 28px;
                color: rgb(40, 219, 174);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            
            .column {
            float: left;
            width: 20%;
            padding: 5px;
            }
            .row::after {
            content: "";
            clear: both;
            display: table;
            }
            </style>
</head>
<body>
    <h1>About us</h1>
    <hr>
    <div style="margin-left: 100px">
    <img src="b.jpg" alt="image"  width=150 heigth=100 align="left"/>
</div>
     <p1>   "Don't let what you cannot do interfere with what you can do.”</p1>
       <p style="font-size: 28px"> This site aims to never let anybody stop his work due to 
        unavailability of correct mentor or solution to any problem and provide suitable solutions
    via interactions with masters in the field and growing collectively. </p>
  
   
   
    

   <h1>Our Team:</h1>

   <hr>
   <div style="margin-left: 100px">
   <div class="row">
   <div class="column">
   
   <img src="b.jpg" width=150 height=120><p>Rudra Pratap<br>rudrapratapsahaniya@gmail.com<br>9759828998</p>
</div>
<div class="column">
   <img src="b.jpg" width=150 height=120><p>Srajan Gupta</p></div>
   <div class="column"> <img src="b.jpg" width=150 height=120><p>Shubham Tripathi</p></div>
   <div class="column"><img src="b.jpg" width=150 height=120><p>Prabal Dubey</p></div>
</div>
</div>
</div>

  

    
</body>
</html>