<h2 id="title" class="title">Log&nbsp;In</h2>
<div class="error">{{#if err}}{{{err}}}{{/if}}</div>
<form name="adminLoginForm" action="/admin/login" method="post">
    <table id="signup" class="form">
        <tr>
            <td><input type="text" name="email"  id="email" class="text" placeholder="E-mail"><br><br></td>
        </tr>
        <tr>
            <td><input type="password" name="password" id="password" class="text" placeholder="Password"><br><br></td>
        </tr>
        <tr>
            <td><input type="submit" id="submit" class="button" value="LOGIN">
            <input type="reset" id="reset" class="button" value="RESET"></td>
        </tr>
    </table>
</form>