<h2 id="title" class="title">Contact US</h2>
    <div id="contactus" class="contactus">
    <form action="/contact" method="post">
        <table class="form" id="contactus">
            <tr>
                <td><input type="text" name="firstname"id="fname" class="text" placeholder="First Name"></td>
            </tr>
            <tr>
                <td><input type="text" name="lastname" id="lname" class="text" placeholder="Last Name"></td>
            </tr>
            <tr>
                <td><input type="email" name="email" id="email" class="text"  placeholder="E-mail"></td>
            </tr>
            <tr>
                <td><input type="text" name="phone" id="contact" class="text" placeholder="Phone Number"></td>
            </tr>
            <tr>
                <td><textarea name="message" rows="8" cols="50" id="comment" class="text" placeholder="Message"></textarea></td>
            </tr>
            <tr>
                <td><input type="submit" id="submit" class="button" value="SUBMIT">
                <input type="reset" id="reset" class="button" value="RESET"></td>
            </tr>
        </table>
    </form>
    
    </div>