<div class="nav-ver-dash" id="nav-ver">
    <ul class="nav-ver">
            <a id="navlink" href="/dashboard"><li class="navilink" id="nav-ver">Activity</li></a>
            <a id="navlink" href="/myquestions"><li class="navilink" id="nav-ver">Your Questions</li></a>
            <a id="navlink" href="/newquestion"><li class="navilink" id="nav-ver">New Question</li></a>
            <a id="navlink" href="/profile"><li class="navilink" id="nav-ver">Profile</li></a>
            <a id="navlink" href="/logout"><li class="navilink" id="nav-ver">Logout</li></a>
    </ul>
</div>