<div id="imgslide">
    <img src="/images/1.jpg" id="slider1" class="slider">
    <img src="/images/2.jpg" id="slider2" class="slider">
    <br/>
    <input type="button" id="next" class="but" value=">">
</div>