<h2 id="title" class="title">Log&nbsp;In</h2>
<div class="error"></div>
<form name="newPassword" action="/new-pass" method="post">
    <table id="new-pass" class="form">
        <tr>
            <td><input type="password" name="password" id="password" class="text" placeholder="New Password"><br><br></td>
        </tr>
        <tr>
            <input type="hidden" name="user" value="{{{user}}}">
            <input type="hidden" name="token" value="{{{token}}}">
            <td><input type="submit" id="submit" class="button" value="Change Password"></td>
        </tr>
    </table>
</form>