<h2 id="title" class="title">Add Question</h2>
<div class="error">{{#if err}}{{{err}}}{{/if}}</div>
<form name="questonForm" action="/newquestion" method="post">
    <table id="addquestion" class="form">
        <tr>
            <td><input type="text" name="question"  id="question" class="text" placeholder="Question"><br><br></td>
        </tr>
        <tr>
            <td><input type="text" name="subject"  id="subject" class="text" placeholder="Subject"><br><br></td>
        </tr>
        <tr>
            <td><textarea name="description"  id="comment" class="text" placeholder="Describe your problem"></textarea><br><br></td>
        </tr>
        <tr>
            <td><input type="submit" id="submit" class="button" value="Add Question"><input type="reset" id="reset" class="button" value="Clear Question"></td>
        </tr>
    </table>
</form>