<h2 id="title" class="title">Reset Password </h2>
<div class="error"></div>
<form name="resetForm" action="/resetpass" method="post">
    <table id="resetpass" class="form">
        <tr>
            <td><input type="text" name="email"  id="email" class="text" placeholder="Enter your E-mail"><br><br></td>
        </tr>
        <tr>
            <td><input type="submit" id="submit" class="button" value="Reset Password"></td>
        </tr>
    </table>
</form>