body{
    background-color: #135;
}
h2#title{
    color:#def;
    font-size: 3vw;
    text-transform: uppercase;
    text-align: center;
    cursor: default;
    user-select: none;
}
table.form{
    position: relative;
    top:2vw;
    margin-left:32vw;
}
.text{
    background-color:#fff;
    border-style: solid;
    border-width: 0.1vw;
    border-color:#00f;
    font-size: 1.1vw;
    margin-bottom: 0.2vw;
    outline: none;
}
.text:focus{
    border-width: 0.15vw;
    border-radius: 0.35vw;
}
input.text{
    height: 2vw;
    width:35vw;
    padding-left: 0.5vw;
}
textarea.text{
    padding: 0.5vw;
    width: 34.5vw;
    resize:none;
}
input.button{
    font-size: 1vw;
    color:#00f;
    background-color: #fff;
    border-width:0.01vw;
    border-color: #00f;
    height: 2vw;
    width:5vw;
    margin-left:6vw;
    margin-right:5vw;
    outline:none;
}
input.button:hover{
    background-color: #00f;
    color:#fff;
    font-weight: 700;
}