body {
    height: 100vh;
    background-color: #135;
    background-image: linear-gradient(to bottom right, #135, #357, #579, #ace);
}

h2#title {
    color: #def;
    font-size: 2.8vw;
    text-transform: uppercase;
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    cursor: default;
    user-select: none;
    margin-top: 1%;
}

table.form {
    position: relative;
    top: 1.5vw;
    margin-left: 32vw;
}

.text {
    background-color: #fff;
    border-style: solid;
    border-width: 0.1vw;
    border-color: #00f;
    font-size: 1.1vw;
    margin-bottom: 0.2vw;
    outline: none;
}

.text:focus {
    border-width: 0.15vw;
    border-radius: 0.35vw;
}

input.text {
    height: 2vw;
    width: 35vw;
    padding-left: 0.5vw;
}

textarea.text {
    padding: 0.5vw;
    width: 34.5vw;
    resize: none;
}

input.button {
    font-size: 1vw;
    color: #00f;
    background-color: #fff;
    border-width: 0.01vw;
    border-color: #00f;
    height: 2vw;
    width: 5vw;
    margin-left: 6vw;
    margin-right: 5vw;
    outline: none;
}

input.button:hover {
    background-color: #00f;
    color: #fff;
    font-weight: 700;
}

a.button {
    display: inline-block;
    text-decoration-line: none;
    text-align: center;
    border-style: solid;
    font-size: 1vw;
    color: #00f;
    background-color: #fff;
    border-width: 0.01vw;
    border-color: #00f;
    height: 2vw;
    min-width: 5vw;
    width: fit-content;
    margin-left: 6vw;
    margin-right: 5vw;
    outline: none;
}

a.button:hover {
    background-color: #00f;
    color: #fff;
    font-weight: 700;
}

.error {
    display: block;
    height: 4vh;
    width: 32vw;
    max-width: 35vw;
    background-color: #f25555;
    border-style: solid;
    border-width: 0.2vw;
    border-color: #f21111;
    border-radius: 4px;
    margin: auto;
    padding: 0.78% 2% 0.5% 1%;
    color: #500;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 0.5%;
    visibility: hidden;
    font-family: 'Ubuntu', cursive;
}

textarea {
    resize: none;
}